eTOM/TIP_MPAC_Specification_V1.0.0/TIP_MPAC_Specification_V1.0.0/Interface_Implementation_Specifications/WSDL/mpac_resource_trouble_asap_alarmseverityassignmentprofileiterator.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.6.935.201102010903 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2011 TM Forum

No recipient of this document and code shall in any way interpret this material as representing a position or agreement of TM Forum or its members. This material is draft working material of TM Forum and is provided solely for comments and evaluation. It is not "Forum Approved" and is solely circulated for the purposes of assisting TM Forum in the preparation of final material in furtherance of the aims and mission of TM Forum.

Although it is copyrighted material of TM Forum:
- Members of TM Forum are only granted the limited copyright waiver to distribute this material within their companies and may not make paper or electronic copies for distribution outside of their companies.
- Non-members of the TM Forum are not permitted to make copies (paper or electronic) of this draft material other than for their internal use for the sole purpose of making comments thereon directly to TM Forum.
- If this material forms part of a supply of information in support of an Industry Group Liaison relationship, the document may only be used as part of the work identified in the Liaison and may not be used or further distributed for any other purposes.

Any use of this material by the recipient, other than as set forth specifically herein, is at its own risk, and under no circumstances will TM Forum be liable for direct or indirect damages or any costs or losses resulting from the use of this material by the recipient.

This material is governed, and all recipients shall be bound, by all of the terms and conditions of the Intellectual Property Rights Policy of the TM Forum (http://www.tmforum.org/Bylaws/1094/home.html) and may involve a claim of patent rights by one or more TM Forum members or by non-members of TM Forum.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/xml/tip/resource/trouble/asap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlarmSeverityAssignmentProfileIterator" targetNamespace="http://www.tmforum.org/xml/tip/resource/trouble/asap">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.tmforum.org/xml/tip/resource/trouble/asap" schemaLocation="mpac_resource_trouble_asap_alarmseverityassignmentprofileiterator_msg.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getNextAlarmSeverityAssignmentProfileIterationRequest">
      <wsdl:documentation>
         The entity iterator getNextAlarmSeverityAssignmentProfileIteration request message
        </wsdl:documentation>
      <wsdl:part name="body" element="tns:getNextAlarmSeverityAssignmentProfileIterationRequest"/>
   </wsdl:message>
   <wsdl:message name="getNextAlarmSeverityAssignmentProfileIterationResponse">
      <wsdl:documentation>
         The entity iterator getNextAlarmSeverityAssignmentProfileIteration response message
        </wsdl:documentation>
      <wsdl:part name="body" element="tns:getNextAlarmSeverityAssignmentProfileIterationResponse"/>
   </wsdl:message>
   <wsdl:message name="getNextAlarmSeverityAssignmentProfileIterationException">
      <wsdl:documentation>
         <p>The getNextAlarmSeverityAssignmentProfileIteration exception message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:getNextAlarmSeverityAssignmentProfileIterationException"/>
   </wsdl:message>
   <wsdl:message name="releaseAlarmSeverityAssignmentProfileIteratorRequest">
      <wsdl:documentation>
         The entity iterator releaseAlarmSeverityAssignmentProfileIterator request message
        </wsdl:documentation>
      <wsdl:part name="body" element="tns:releaseAlarmSeverityAssignmentProfileIteratorRequest"/>
   </wsdl:message>
   <wsdl:message name="releaseAlarmSeverityAssignmentProfileIteratorResponse">
      <wsdl:documentation>
         The entity iterator releaseAlarmSeverityAssignmentProfileIterator response message
        </wsdl:documentation>
      <wsdl:part name="body" element="tns:releaseAlarmSeverityAssignmentProfileIteratorResponse"/>
   </wsdl:message>
   <wsdl:message name="releaseAlarmSeverityAssignmentProfileIteratorException">
      <wsdl:documentation>
         <p>The releaseAlarmSeverityAssignmentProfileIterator exception message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:releaseAlarmSeverityAssignmentProfileIteratorException"/>
   </wsdl:message>
   <wsdl:portType name="AlarmSeverityAssignmentProfileIterator">
      <wsdl:documentation>
         The service interface definitions of the AlarmSeverityAssignmentProfile iterator 
        </wsdl:documentation>
      <wsdl:operation name="getNextAlarmSeverityAssignmentProfileIteration">
         <wsdl:documentation>
                The getNextAlarmSeverityAssignmentProfileIteration operation of the AlarmSeverityAssignmentProfile iterator
            </wsdl:documentation>
         <wsdl:input name="getNextAlarmSeverityAssignmentProfileIterationRequest" message="tns:getNextAlarmSeverityAssignmentProfileIterationRequest"/>
         <wsdl:output name="getNextAlarmSeverityAssignmentProfileIterationResponse" message="tns:getNextAlarmSeverityAssignmentProfileIterationResponse"/>
         <wsdl:fault name="getNextAlarmSeverityAssignmentProfileIterationException" message="tns:getNextAlarmSeverityAssignmentProfileIterationException"/>
      </wsdl:operation>
      <wsdl:operation name="releaseAlarmSeverityAssignmentProfileIterator">
         <wsdl:documentation>
                The releaseAlarmSeverityAssignmentProfileIterator operation of the AlarmSeverityAssignmentProfile iterator
            </wsdl:documentation>
         <wsdl:input name="releaseAlarmSeverityAssignmentProfileIteratorRequest" message="tns:releaseAlarmSeverityAssignmentProfileIteratorRequest"/>
         <wsdl:output name="releaseAlarmSeverityAssignmentProfileIteratorResponse" message="tns:releaseAlarmSeverityAssignmentProfileIteratorResponse"/>
         <wsdl:fault name="releaseAlarmSeverityAssignmentProfileIteratorException" message="tns:releaseAlarmSeverityAssignmentProfileIteratorException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="AlarmSeverityAssignmentProfileIteratorSoapHttpBinding" type="tns:AlarmSeverityAssignmentProfileIterator">
      <wsdl:documentation>
        Web Service (SOAP/HTTP) profile binding definitions.
        </wsdl:documentation>
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getNextAlarmSeverityAssignmentProfileIteration">
         <soap:operation soapAction="getNextAlarmSeverityAssignmentProfileIteration" style="document"/>
         <wsdl:input name="getNextAlarmSeverityAssignmentProfileIterationRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getNextAlarmSeverityAssignmentProfileIterationResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getNextAlarmSeverityAssignmentProfileIterationException">
            <soap:fault name="getNextAlarmSeverityAssignmentProfileIterationException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="releaseAlarmSeverityAssignmentProfileIterator">
         <soap:operation soapAction="releaseAlarmSeverityAssignmentProfileIterator" style="document"/>
         <wsdl:input name="releaseAlarmSeverityAssignmentProfileIteratorRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="releaseAlarmSeverityAssignmentProfileIteratorResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="releaseAlarmSeverityAssignmentProfileIteratorException">
            <soap:fault name="releaseAlarmSeverityAssignmentProfileIteratorException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AlarmSeverityAssignmentProfileIteratorWs">
      <wsdl:documentation>
        The service definition (necessary for code compilation)
        </wsdl:documentation>
      <wsdl:port name="AlarmSeverityAssignmentProfileIteratorPort" binding="tns:AlarmSeverityAssignmentProfileIteratorSoapHttpBinding">
         <soap:address location="http://localhost/AlarmSeverityAssignmentProfileIterator"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>