eTOM/TIP_MPAC_Specification_V1.0.0/TIP_MPAC_Specification_V1.0.0/Interface_Implementation_Specifications/WSDL/wsn_bindings_http.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.6.935.201102010903 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2011 TM Forum

No recipient of this document and code shall in any way interpret this material as representing a position or agreement of TM Forum or its members. This material is draft working material of TM Forum and is provided solely for comments and evaluation. It is not "Forum Approved" and is solely circulated for the purposes of assisting TM Forum in the preparation of final material in furtherance of the aims and mission of TM Forum.

Although it is copyrighted material of TM Forum:
- Members of TM Forum are only granted the limited copyright waiver to distribute this material within their companies and may not make paper or electronic copies for distribution outside of their companies.
- Non-members of the TM Forum are not permitted to make copies (paper or electronic) of this draft material other than for their internal use for the sole purpose of making comments thereon directly to TM Forum.
- If this material forms part of a supply of information in support of an Industry Group Liaison relationship, the document may only be used as part of the work identified in the Liaison and may not be used or further distributed for any other purposes.

Any use of this material by the recipient, other than as set forth specifically herein, is at its own risk, and under no circumstances will TM Forum be liable for direct or indirect damages or any costs or losses resulting from the use of this material by the recipient.

This material is governed, and all recipients shall be bound, by all of the terms and conditions of the Intellectual Property Rights Policy of the TM Forum (http://www.tmforum.org/Bylaws/1094/home.html) and may involve a claim of patent rights by one or more TM Forum members or by non-members of TM Forum.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsnt="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsn_bindings_http="http://www.tmforum.org/xml/tip/wsnbindings/http" name="wsn_bindings_http" targetNamespace="http://www.tmforum.org/xml/tip/wsnbindings/http">
   <wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2" location="http://docs.oasis-open.org/wsn/bw-2.wsdl"/>
   <wsdl:binding name="NotificationProducerSoapHttpBinding" type="wsnt:NotificationProducer">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><!-- =========== NotificationProducer Specific ============== -->
      <wsdl:operation name="Subscribe">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="SubscribeCreationFailedFault">
            <soap:fault name="SubscribeCreationFailedFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="TopicExpressionDialectUnknownFault">
            <soap:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="InvalidFilterFault">
            <soap:fault name="InvalidFilterFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="InvalidTopicExpressionFault">
            <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="TopicNotSupportedFault">
            <soap:fault name="TopicNotSupportedFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
            <soap:fault name="InvalidProducerPropertiesExpressionFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="InvalidMessageContentExpressionFault">
            <soap:fault name="InvalidMessageContentExpressionFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
            <soap:fault name="UnacceptableInitialTerminationTimeFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="UnrecognizedPolicyRequestFault">
            <soap:fault name="UnrecognizedPolicyRequestFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="UnsupportedPolicyRequestFault">
            <soap:fault name="UnsupportedPolicyRequestFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="NotifyMessageNotSupportedFault">
            <soap:fault name="NotifyMessageNotSupportedFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GetCurrentMessage">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="TopicExpressionDialectUnknownFault">
            <soap:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="InvalidTopicExpressionFault">
            <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="TopicNotSupportedFault">
            <soap:fault name="TopicNotSupportedFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="NoCurrentMessageOnTopicFault">
            <soap:fault name="NoCurrentMessageOnTopicFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="MultipleTopicsSpecifiedFault">
            <soap:fault name="MultipleTopicsSpecifiedFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SubscriptionManagerSoapHttpBinding" type="wsnt:PausableSubscriptionManager">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><!-- ========= SubscriptionManager specific operations ====== -->
      <wsdl:operation name="PauseSubscription">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PauseFailedFault">
            <soap:fault name="PauseFailedFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="Renew">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="UnacceptableTerminationTimeFault">
            <soap:fault name="UnacceptableTerminationTimeFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="Unsubscribe">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="UnableToDestroySubscriptionFault">
            <soap:fault name="UnableToDestroySubscriptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ResumeSubscription">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="ResumeFailedFault">
            <soap:fault name="ResumeFailedFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="NotificationConsumerSoapHttpBinding" type="wsnt:NotificationConsumer">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><!-- ========= NotificationConsumer specific operation ====== -->
      <wsdl:operation name="Notify">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>