eTOM/TIP_MPAC_Specification_V1.0.0/Interface_Implementation_Specifications/WSDL/mpac_resource_trouble_asap_asapretrievalservice_msg.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.6.935.201102010903 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2011 TM Forum

No recipient of this document and code shall in any way interpret this material as representing a position or agreement of TM Forum or its members. This material is draft working material of TM Forum and is provided solely for comments and evaluation. It is not "Forum Approved" and is solely circulated for the purposes of assisting TM Forum in the preparation of final material in furtherance of the aims and mission of TM Forum.

Although it is copyrighted material of TM Forum:
- Members of TM Forum are only granted the limited copyright waiver to distribute this material within their companies and may not make paper or electronic copies for distribution outside of their companies.
- Non-members of the TM Forum are not permitted to make copies (paper or electronic) of this draft material other than for their internal use for the sole purpose of making comments thereon directly to TM Forum.
- If this material forms part of a supply of information in support of an Industry Group Liaison relationship, the document may only be used as part of the work identified in the Liaison and may not be used or further distributed for any other purposes.

Any use of this material by the recipient, other than as set forth specifically herein, is at its own risk, and under no circumstances will TM Forum be liable for direct or indirect damages or any costs or losses resulting from the use of this material by the recipient.

This material is governed, and all recipients shall be bound, by all of the terms and conditions of the Intellectual Property Rights Policy of the TM Forum (http://www.tmforum.org/Bylaws/1094/home.html) and may involve a claim of patent rights by one or more TM Forum members or by non-members of TM Forum.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/xml/tip/resource/trouble/asap" xmlns:filter="http://www.tmforum.org/xml/tip/internal/filter" xmlns:exceptions1="http://www.tmforum.org/xml/tip/common/exceptions" xmlns:primitives="http://www.tmforum.org/xml/tip/internal/primitives" xmlns:entity="http://www.tmforum.org/xml/tip/internal/entity" xmlns:exceptions="http://www.tmforum.org/xml/tip/internal/exceptions" xmlns:iterator="http://www.tmforum.org/xml/tip/internal/iterator" xmlns:nrb="http://www.tmforum.org/xml/tip/resource/res/tip/nrb" targetNamespace="http://www.tmforum.org/xml/tip/resource/trouble/asap" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
   <xsd:annotation>
      <xsd:documentation>
         <p>TMF Service Interface: ASAPRetrievalService</p>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:include schemaLocation="mpac_resource_trouble_asap.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/filter" schemaLocation="internal_filter.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/common/exceptions" schemaLocation="common_exceptions.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/primitives" schemaLocation="internal_primitives.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/entity" schemaLocation="internal_entity.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/exceptions" schemaLocation="internal_exceptions.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/iterator" schemaLocation="internal_iterator.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/resource/res/tip/nrb" schemaLocation="dep_resource_res_tip_nrb.xsd"/>
   <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/filter" schemaLocation="internal_filter.xsd"/>
   <xsd:element name="getAlarmSeverityAssignmentProfileRequest" type="tns:getAlarmSeverityAssignmentProfileRequest">
      <xsd:annotation>
         <xsd:documentation>
        The getAlarmSeverityAssignmentProfile request message XML schema.
      </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfileRequest">
      <xsd:sequence>
         <xsd:element name="objectToGet" type="entity:EntityIdentifier" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>object to get, by entity identifier</p>
                  <p>This parameter  is  input parameter</p>
                  <p>This parameter  has  multiplicity 1</p>
                  <p>This parameter  is  unique</p>
                  <p>This parameter  is  passed by id</p>
                  <p>This parameter  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfileResponse" type="tns:getAlarmSeverityAssignmentProfileResponse">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfile response message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfileResponse">
      <xsd:sequence>
         <xsd:element name="object" type="tns:AlarmSeverityAssignmentProfile" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p>object returned by value</p>
                  <p>This parameter  is  output parameter</p>
                  <p>This parameter  has  multiplicity 1</p>
                  <p>This parameter  is  unique</p>
                  <p>This parameter  is  passed by value</p>
                  <p>This parameter  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfileException" type="tns:getAlarmSeverityAssignmentProfileException">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfile exception message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfileException">
      <xsd:choice>
         <xsd:element name="entityNotFound" type="exceptions1:EntityNotFound">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="accessDenied" type="exceptions:AccessDenied"/>
         <xsd:element name="communicationLoss" type="exceptions:CommunicationLoss"/>
         <xsd:element name="internalError" type="exceptions:InternalError"/>
         <xsd:element name="invalidInput" type="exceptions:InvalidInput"/>
         <xsd:element name="notImplemented" type="exceptions:NotImplemented"/>
         <xsd:element name="unableToComply" type="exceptions:UnableToComply"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfilesRequest" type="tns:getAlarmSeverityAssignmentProfilesRequest">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfiles request message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfilesRequest">
      <xsd:complexContent>
         <xsd:extension base="iterator:CommonRequest">
            <xsd:sequence>
               <xsd:element name="filter" type="filter:XPathQueryFilter" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>input filter</p>
                        <p>This parameter  is  input parameter</p>
                        <p>This parameter  has  multiplicity 1</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="attributeSelector" type="primitives:ArrayOfString" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>Allow to specify which attributes to return. It allows to return only a subset of the object instead of the full object. If empty, the whole object is returned.</p>
                        <p>This parameter  is  input parameter</p>
                        <p>This parameter  has  multiplicity 0..*</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfilesResponse" type="tns:getAlarmSeverityAssignmentProfilesResponse">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfiles response message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfilesResponse">
      <xsd:complexContent>
         <xsd:extension base="iterator:CommonResponse">
            <xsd:sequence>
               <xsd:element name="objects" type="tns:AlarmSeverityAssignmentProfileResultWithIterator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p>objects returned by value</p>
                        <p>This parameter  is  output parameter</p>
                        <p>This parameter  has  multiplicity 0..*</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  passed by value</p>
                        <p>This parameter  is  bulk potential</p>
                        <p>This parameter  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfilesException" type="tns:getAlarmSeverityAssignmentProfilesException">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfiles exception message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfilesException">
      <xsd:choice>
         <xsd:element name="filterNotSupported" type="exceptions1:FilterNotSupported">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="accessDenied" type="exceptions:AccessDenied"/>
         <xsd:element name="communicationLoss" type="exceptions:CommunicationLoss"/>
         <xsd:element name="internalError" type="exceptions:InternalError"/>
         <xsd:element name="invalidInput" type="exceptions:InvalidInput"/>
         <xsd:element name="notImplemented" type="exceptions:NotImplemented"/>
         <xsd:element name="unableToComply" type="exceptions:UnableToComply"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfileByResourceRequest" type="tns:getAlarmSeverityAssignmentProfileByResourceRequest">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfileByResource request message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfileByResourceRequest">
      <xsd:complexContent>
         <xsd:extension base="iterator:CommonRequest">
            <xsd:sequence>
               <xsd:element name="layerRateList" type="nrb:ArrayOfLayerRate" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This parameter  is  input parameter</p>
                        <p>This parameter  has  multiplicity *</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="resourceRef" type="entity:EntityIdentifier" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This parameter  is  input parameter</p>
                        <p>This parameter  has  multiplicity 0..1</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfileByResourceResponse" type="tns:getAlarmSeverityAssignmentProfileByResourceResponse">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfileByResource response message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfileByResourceResponse">
      <xsd:complexContent>
         <xsd:extension base="iterator:CommonResponse">
            <xsd:sequence>
               <xsd:element name="asapList" type="tns:AlarmSeverityAssignmentProfileResultWithIterator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This parameter  is  output parameter</p>
                        <p>This parameter  has  multiplicity *</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  passed by value</p>
                        <p>This parameter  is  bulk potential</p>
                        <p>This parameter  is  optional</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getAlarmSeverityAssignmentProfileByResourceException" type="tns:getAlarmSeverityAssignmentProfileByResourceException">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAlarmSeverityAssignmentProfileByResource exception message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAlarmSeverityAssignmentProfileByResourceException">
      <xsd:choice>
         <xsd:element name="accessDenied" type="exceptions:AccessDenied"/>
         <xsd:element name="communicationLoss" type="exceptions:CommunicationLoss"/>
         <xsd:element name="internalError" type="exceptions:InternalError"/>
         <xsd:element name="invalidInput" type="exceptions:InvalidInput"/>
         <xsd:element name="notImplemented" type="exceptions:NotImplemented"/>
         <xsd:element name="unableToComply" type="exceptions:UnableToComply"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="getAllAlarmSeverityAssignmentProfilesWrtOsRequest" type="tns:getAllAlarmSeverityAssignmentProfilesWrtOsRequest">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAllAlarmSeverityAssignmentProfilesWrtOs request message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAllAlarmSeverityAssignmentProfilesWrtOsRequest">
      <xsd:complexContent>
         <xsd:extension base="iterator:CommonRequest">
            <xsd:sequence>
               <xsd:element name="osRef" type="entity:EntityIdentifier" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This parameter  is  input parameter</p>
                        <p>This parameter  has  multiplicity 1</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getAllAlarmSeverityAssignmentProfilesWrtOsResponse" type="tns:getAllAlarmSeverityAssignmentProfilesWrtOsResponse">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAllAlarmSeverityAssignmentProfilesWrtOs response message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAllAlarmSeverityAssignmentProfilesWrtOsResponse">
      <xsd:complexContent>
         <xsd:extension base="iterator:CommonResponse">
            <xsd:sequence>
               <xsd:element name="asapList" type="tns:AlarmSeverityAssignmentProfileResultWithIterator" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>
                        <p/>
                        <p>This parameter  is  output parameter</p>
                        <p>This parameter  has  multiplicity *</p>
                        <p>This parameter  is  unique</p>
                        <p>This parameter  is  passed by value</p>
                        <p>This parameter  is  bulk potential</p>
                        <p>This parameter  is  mandatory</p>
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getAllAlarmSeverityAssignmentProfilesWrtOsException" type="tns:getAllAlarmSeverityAssignmentProfilesWrtOsException">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAllAlarmSeverityAssignmentProfilesWrtOs exception message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAllAlarmSeverityAssignmentProfilesWrtOsException">
      <xsd:choice>
         <xsd:element name="accessDenied" type="exceptions:AccessDenied"/>
         <xsd:element name="communicationLoss" type="exceptions:CommunicationLoss"/>
         <xsd:element name="internalError" type="exceptions:InternalError"/>
         <xsd:element name="invalidInput" type="exceptions:InvalidInput"/>
         <xsd:element name="notImplemented" type="exceptions:NotImplemented"/>
         <xsd:element name="unableToComply" type="exceptions:UnableToComply"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="getAsapAssociatedResourceNamesRequest" type="tns:getAsapAssociatedResourceNamesRequest">
      <xsd:annotation>
         <xsd:documentation>
        The getAsapAssociatedResourceNames request message XML schema.
      </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAsapAssociatedResourceNamesRequest">
      <xsd:sequence>
         <xsd:element name="asapRef" type="entity:EntityIdentifier" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This parameter  is  input parameter</p>
                  <p>This parameter  has  multiplicity 1</p>
                  <p>This parameter  is  unique</p>
                  <p>This parameter  is  passed by id</p>
                  <p>This parameter  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="getAsapAssociatedResourceNamesResponse" type="tns:getAsapAssociatedResourceNamesResponse">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAsapAssociatedResourceNames response message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAsapAssociatedResourceNamesResponse">
      <xsd:sequence>
         <xsd:element name="resourceRefList" type="entity:ArrayOfEntityIdentifier" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  <p/>
                  <p>This parameter  is  output parameter</p>
                  <p>This parameter  has  multiplicity *</p>
                  <p>This parameter  is  unique</p>
                  <p>This parameter  is  mandatory</p>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="getAsapAssociatedResourceNamesException" type="tns:getAsapAssociatedResourceNamesException">
      <xsd:annotation>
         <xsd:documentation>
            <p>The getAsapAssociatedResourceNames exception message XML schema.</p>
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="getAsapAssociatedResourceNamesException">
      <xsd:choice>
         <xsd:element name="accessDenied" type="exceptions:AccessDenied"/>
         <xsd:element name="communicationLoss" type="exceptions:CommunicationLoss"/>
         <xsd:element name="internalError" type="exceptions:InternalError"/>
         <xsd:element name="invalidInput" type="exceptions:InvalidInput"/>
         <xsd:element name="notImplemented" type="exceptions:NotImplemented"/>
         <xsd:element name="unableToComply" type="exceptions:UnableToComply"/>
      </xsd:choice>
   </xsd:complexType>
</xsd:schema>