eTOM/TIP_MPAC_Specification_V1.0.0/Interface_Implementation_Specifications/WSDL/mpac_resource_res_log_maint_maintenancecontrolservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
 *  Generated with Tigerstripe Workbench 0.6.935.201102010903 and 
 *  Plugin Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(1.1) (1.1)
 *
 *  DO NOT EDIT THIS CODE WHICH WAS AUTOMATICALLY GENERATED
--><!--
Copyright (C) 2011 TM Forum

No recipient of this document and code shall in any way interpret this material as representing a position or agreement of TM Forum or its members. This material is draft working material of TM Forum and is provided solely for comments and evaluation. It is not "Forum Approved" and is solely circulated for the purposes of assisting TM Forum in the preparation of final material in furtherance of the aims and mission of TM Forum.

Although it is copyrighted material of TM Forum:
- Members of TM Forum are only granted the limited copyright waiver to distribute this material within their companies and may not make paper or electronic copies for distribution outside of their companies.
- Non-members of the TM Forum are not permitted to make copies (paper or electronic) of this draft material other than for their internal use for the sole purpose of making comments thereon directly to TM Forum.
- If this material forms part of a supply of information in support of an Industry Group Liaison relationship, the document may only be used as part of the work identified in the Liaison and may not be used or further distributed for any other purposes.

Any use of this material by the recipient, other than as set forth specifically herein, is at its own risk, and under no circumstances will TM Forum be liable for direct or indirect damages or any costs or losses resulting from the use of this material by the recipient.

This material is governed, and all recipients shall be bound, by all of the terms and conditions of the Intellectual Property Rights Policy of the TM Forum (http://www.tmforum.org/Bylaws/1094/home.html) and may involve a claim of patent rights by one or more TM Forum members or by non-members of TM Forum.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmforum.org/xml/tip/resource/res/log/maint" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MaintenanceControlService" targetNamespace="http://www.tmforum.org/xml/tip/resource/res/log/maint"><!-- WSDL Types -->
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.tmforum.org/xml/tip/resource/res/log/maint" schemaLocation="mpac_resource_res_log_maint_maintenancecontrolservice_msg.xsd"/>
      </xsd:schema>
   </wsdl:types><!-- Message Definitions of the Service Interface -->
   <wsdl:message name="getActiveMaintenanceOperationsRequest">
      <wsdl:documentation>
         <p>The getActiveMaintenanceOperations request message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:getActiveMaintenanceOperationsRequest"/>
   </wsdl:message>
   <wsdl:message name="getActiveMaintenanceOperationsResponse">
      <wsdl:documentation>
         <p>The getActiveMaintenanceOperations response message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:getActiveMaintenanceOperationsResponse"/>
   </wsdl:message>
   <wsdl:message name="getActiveMaintenanceOperationsException">
      <wsdl:documentation>
         <p>The getActiveMaintenanceOperations exception message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:getActiveMaintenanceOperationsException"/>
   </wsdl:message>
   <wsdl:message name="performMaintenanceOperationRequest">
      <wsdl:documentation>
         <p>The performMaintenanceOperation request message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:performMaintenanceOperationRequest"/>
   </wsdl:message>
   <wsdl:message name="performMaintenanceOperationResponse">
      <wsdl:documentation>
         <p>The performMaintenanceOperation response message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:performMaintenanceOperationResponse"/>
   </wsdl:message>
   <wsdl:message name="performMaintenanceOperationException">
      <wsdl:documentation>
         <p>The performMaintenanceOperation exception message.</p>
      </wsdl:documentation>
      <wsdl:part name="body" element="tns:performMaintenanceOperationException"/>
   </wsdl:message><!-- Port Type (abstract interface) Definitions of the Service Interface -->
   <wsdl:portType name="MaintenanceControlService">
      <wsdl:documentation>
         <p>This service interface provides the services related to Maintenance, getting available maintenance operations and performing them.</p>
         <p/>
         <p>This service interface  is  optional</p>
      </wsdl:documentation>
      <wsdl:operation name="getActiveMaintenanceOperations">
         <wsdl:documentation>
            <p>This is a request-response operation.</p>
            <p>This operation retrieves all persistent maintenance commands that are currently enabled on the provided resource.</p>
            <p>This operation  is  not extendable</p>
            <p>This operation  is  optional</p>
         </wsdl:documentation>
         <wsdl:input name="getActiveMaintenanceOperationsRequest" message="tns:getActiveMaintenanceOperationsRequest"/>
         <wsdl:output name="getActiveMaintenanceOperationsResponse" message="tns:getActiveMaintenanceOperationsResponse"/>
         <wsdl:fault name="getActiveMaintenanceOperationsException" message="tns:getActiveMaintenanceOperationsException"/>
      </wsdl:operation>
      <wsdl:operation name="performMaintenanceOperation">
         <wsdl:documentation>
            <p>This is a request-response operation.</p>
            <p>This operation performs maintenance commands on the provided resource.</p>
            <p>This operation  is  not extendable</p>
            <p>This operation  is  optional</p>
         </wsdl:documentation>
         <wsdl:input name="performMaintenanceOperationRequest" message="tns:performMaintenanceOperationRequest"/>
         <wsdl:output name="performMaintenanceOperationResponse" message="tns:performMaintenanceOperationResponse"/>
         <wsdl:fault name="performMaintenanceOperationException" message="tns:performMaintenanceOperationException"/>
      </wsdl:operation>
   </wsdl:portType><!-- Binding - Concrete Service Interface deployment SOAP/HTTP -->
   <wsdl:binding name="MaintenanceControlServiceSoapHttpBinding" type="tns:MaintenanceControlService">
      <wsdl:documentation>
         <p>Web Service (SOAP/HTTP) profile binding definitions.</p>
      </wsdl:documentation>
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><!--wsaw:UsingAddressing wsdl:required="true"/-->
      <wsdl:operation name="getActiveMaintenanceOperations">
         <soap:operation soapAction="getActiveMaintenanceOperations" style="document"/>
         <wsdl:input name="getActiveMaintenanceOperationsRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getActiveMaintenanceOperationsResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getActiveMaintenanceOperationsException">
            <soap:fault name="getActiveMaintenanceOperationsException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="performMaintenanceOperation">
         <soap:operation soapAction="performMaintenanceOperation" style="document"/>
         <wsdl:input name="performMaintenanceOperationRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="performMaintenanceOperationResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="performMaintenanceOperationException">
            <soap:fault name="performMaintenanceOperationException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding><!-- Service definition -->
   <wsdl:service name="MaintenanceControlServiceWs">
      <wsdl:port name="MaintenanceControlServiceHttpPort" binding="tns:MaintenanceControlServiceSoapHttpBinding">
         <soap:address location="http://localhost/MaintenanceControlService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>